<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="application/x-javascript">
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
<!-- //custom-theme -->
<link href="../public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="../public/css/about.css" type="text/css" media="screen" property="" />
<link rel="stylesheet" href="../public/css/shop.css" type="text/css" media="screen" property="" />
<link rel="stylesheet" type="text/css" href="../public/css/contact.css">
<link rel="stylesheet" type="text/css" href="../public/css/checkout.css">
<link rel="stylesheet" type="text/css" href="../public/css/login.css">
<link rel="stylesheet" type="text/css" href="../public/css/jquery-ui1.css">
<link href="../public/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
<link href="../public/css/style7.css" rel="stylesheet" type="text/css" media="all" />
<link href="../public/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome-icons -->
<link href="../public/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Montserrat:100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
    rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
</head>

<body>
	<% if (locals.isLoggedIn) { %>
                <nav>
                    <ul>
                        <li><a href="/" class="active">Home</a></li>
                        <li><a href="/user/logout">Log out</a></li>
                        <li><a href="about">About</a></li>
                        <li><a href="shop">Shop Now</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </nav>
				<% } else { %>
					<nav>
						<ul>
							<li><a href="/" class="active">Home</a></li>
							<li><a href="login">Log in</a></li>
							<li><a href="signup">Sign Up</a></li>
							<li><a href="about">About</a></li>
							<li><a href="shop">Shop Now</a></li>
							<li><a href="contact">Contact</a></li>
						</ul>
					</nav>
					<% } %>
			</div>
			<div class="mobile-nav-button">
				<button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
			</div>
	<!-- js -->
	<script type="text/javascript" src="../public/js/jquery-2.1.4.min.js"></script>
	<!-- //js -->
	<!-- cart-js -->
	<script src="../public/js/minicart.js"></script>
	<script>
		shoe.render();

		shoe.cart.on('shoe_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	<!-- /nav -->
	<script src="../public/js/modernizr-2.6.2.min.js"></script>
	<script src="../public/js/classie.js"></script>
	<script src="../public/js/demo1.js"></script>
	<!-- //nav -->
	<!--quantity-->
	<script>
		$('.value-plus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) + 1;
			divUpd.text(newVal);
		});

		$('.value-minus').on('click', function () {
			var divUpd = $(this).parent().find('.value'),
				newVal = parseInt(divUpd.text(), 10) - 1;
			if (newVal >= 1) divUpd.text(newVal);
		});
	</script>
	<!--quantity-->
	<script>
		$(document).ready(function (c) {
			$('.close1').on('click', function (c) {
				$('.rem1').fadeOut('slow', function (c) {
					$('.rem1').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function (c) {
			$('.close2').on('click', function (c) {
				$('.rem2').fadeOut('slow', function (c) {
					$('.rem2').remove();
				});
			});
		});
	</script>
	<script>
		$(document).ready(function (c) {
			$('.close3').on('click', function (c) {
				$('.rem3').fadeOut('slow', function (c) {
					$('.rem3').remove();
				});
			});
		});
	</script>
	<!-- cart-js -->
	<script src="../public/js/minicart.js"></script>
	<script>
		shoe.render();

		shoe.cart.on('shoe_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) {}
			}
		});
	</script>
	<!-- //cart-js -->
	<script src="../public/js/responsiveslides.min.js"></script>
	<script>
		$(function () {
			$("#slider4").responsiveSlides({
				auto: true,
				pager: true,
				nav: true,
				speed: 1000,
				namespace: "callbacks",
				before: function () {
					$('.events').append("<li>before event fired.</li>");
				},
				after: function () {
					$('.events').append("<li>after event fired.</li>");
				}
			});
		});
	</script>
	<!-- js for portfolio lightbox -->
	<!-- script for responsive tabs -->
	<script src="../public/js/easy-responsive-tabs.js"></script>
	<script>
		$(document).ready(function () {
			$('#horizontalTab').easyResponsiveTabs({
				type: 'default', //Types: default, vertical, accordion           
				width: 'auto', //auto or any width like 600px
				fit: true, // 100% fit in a container
				closed: 'accordion', // Start closed if in accordion view
				activate: function (event) { // Callback function if tab is switched
					var $tab = $(this);
					var $info = $('#tabInfo');
					var $name = $('span', $info);
					$name.text($tab.text());
					$info.show();
				}
			});
			$('#verticalTab').easyResponsiveTabs({
				type: 'vertical',
				width: 'auto',
				fit: true
			});
		});
	</script>
	<!-- price range (top products) -->
	<script src="../public/js/jquery-ui.js"></script>
	<script>
		//<![CDATA[ 
		$(window).load(function () {
			$("#slider-range").slider({
				range: true,
				min: 0,
				max: 10000,
				values: [1, 8000],
				slide: function (event, ui) {
					$("#amount").val("RP" + ui.values[0] + " - RP" + ui.values[1]);
				}
			});
			$("#amount").val("Rp." + $("#slider-range").slider("values", 0) + " - Rp." + $("#slider-range").slider("values", 1));

		}); //]]>
	</script>
	<!-- //price range (top products) -->

	<!--/script hide password-->
	<script>
        function myFunction() {
            var x = document.getElementById("password");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
	<!--//script hide password-->

	<!-- start-smoth-scrolling -->
	<script type="text/javascript" src="../public/js/move-top.js"></script>
	<script type="text/javascript" src="../public/js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>

	<!-- //end-smoth-scrolling -->
	<script type="text/javascript" src="../public/js/bootstrap-3.1.1.min.js"></script>
	<script> 
        function notifikasi() { 
            alert("Terima Kasih telah Melakukan contact kepada Kami.\n"+
                "Kami akan segera Menjawab Pertanyaan Anda Melalui Email\n"   +
                         "Silahkan Check Email Anda \n"+
						 "have a nice day :)"); 
        } 
    </script>

<script> 
	function makepayment() { 
		alert("Terima Kasih telah Berbelanja di 4US.COM.\n"+
			"Pesanan Anda telah di buat.\n"+
			"Untuk menyelesaikan pembayaran Silahkan Check Email Anda.\n"   +
			"(Berlaku 1x24jam).\n"+
					 "have a nice day :)"); 
	} 
</script>
<script> 
	function address() { 
		alert("Alamat Berhasil Di Tambahkan."); 
	} 
</script>

	
</html>